.container {
    width: 100%;
    margin: 0 auto;
}
input.ng-dirty.ng-invalid {
    border-bottom: solid #ff0000 2px;
}

input.ng-dirty.ng-valid {
    border-bottom: solid green 2px;
}
.form {
    text-align: center;
    &-fields {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    &-control {
        text-align: start;
        width: 32%;
        border: 1px dotted #7a7a7a;
        margin-bottom: 20px;
        padding: 20px;
        label {
            font-size: 16px;
        }
    }
    &-input {
        width: 100%;
        height: 40px;
        outline: none;
        border: none;
        border-bottom: 1px solid #000;
    }
    &-select {
        display: block;
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        max-width: 100%;
    }
    &-btn {
        display: inline-block;
        padding: 15px 30px;
        background-color: rgb(24, 22, 22);
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        cursor: pointer;
        &:hover, &:focus {
            background-color: #fff;
            color: rgb(24, 22, 22);
            border: 1px solid rgb(24, 22, 22);
            transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &:disabled {
            font-weight: 400;
            color: rgb(145, 142, 142);
            cursor: not-allowed;
        }
    }
    .version-btn {
        margin-top: 20px;
    }
}
.date-input {
    width: 90%;
}

.static {
    height: 100px;
}
.hobbies-btn {
    margin-top: 10px;
}

.hobbie-numeration {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(24, 22, 22);
    border-radius: 50%;
}
.validation {
    color:#ff0000;
}