<div class="container">
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-fields">
            <div class="form-control static">
                <label for="name">First name</label>
                <input type="text" class="form-input" id="name" formControlName="firstName">
                <div *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">
                    <div class="validation" *ngIf="form.get('firstName')?.hasError('required')">The field cannot be
                        empty!</div>
                </div>
            </div>
            <div class="form-control" formGroupName="hobbies">
                <button type="button" class="form-btn" (click)="addHobbie()">Add hobbie</button>
                <div *ngIf="showHobbieField">
                    <div *ngFor="let control of initControls(), let idx = index" [formGroupName]="idx" id="{{idx}}">
                        <label>
                            <div class="hobbie-numeration">{{idx + 1}}</div>
                            <input type="text" class="form-input" formControlName="name" placeholder="Name">
                        </label>
                        <label>
                            <input type="text" class="form-input" formControlName="duration" placeholder="Duration">
                        </label>
                        <button class="form-btn hobbies-btn" (click)="removeContol(idx)">
                            Remove
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-control static">
                <label for="surname">Last name</label>
                <input type="text" class="form-input" id="surname" formControlName="lastName">
                <div *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">
                    <div class="validation" *ngIf="form.get('lastName')?.hasError('required')">The field cannot be
                        empty!</div>
                </div>
            </div>
            <div class="form-control" formGroupName="technology">
                <label>Choose technology</label>
                <select formControlName="framework" class="form-input">
                    <option *ngFor="let technology of technologies" [ngValue]="technology">{{technology}}</option>
                </select>
                <div *ngIf="form.get('technology.framework')?.invalid && form.get('technology.framework')?.touched">
                    <div class="validation" *ngIf="form.get('technology.framework')?.hasError('required')">The field
                        cannot be
                        empty!</div>
                </div>
                <button type="button" [disabled]="form.get('technology.framework')?.invalid"
                    class="form-btn version-btn" (click)="setVersion()">Choose version</button>
                <select *ngIf="showVersions; else noVersion" formControlName="frameworkVersion" class="form-input">
                    <option *ngFor="let version of versions" [ngValue]="version">{{version}}</option>
                </select>
                <div
                    *ngIf="form.get('technology.frameworkVersion')?.invalid && form.get('technology.frameworkVersion')?.touched">
                    <div class="validation" *ngIf="form.get('technology.frameworkVersion')?.hasError('required')">The
                        field cannot be
                        empty!</div>
                </div>
            </div>
            <div class="form-control static">
                <label for="date">Choose a date of birth</label>
                <input id="date" matInput [matDatepicker]="pickeryear" class="form-input date-input"
                    formControlName="dateOfBirth">
                <mat-datepicker-toggle [for]="pickeryear">
                </mat-datepicker-toggle>
                <mat-datepicker #pickeryear startView="multi-year"></mat-datepicker>
                <div *ngIf="form.get('dateOfBirth')?.invalid && form.get('dateOfBirth')?.touched">
                    <div class="validation" *ngIf="form.get('dateOfBirth')?.hasError('required')">The field cannot be
                        empty!</div>
                </div>
            </div>

            <div class="form-control static">
                <label for="Email">Email</label>
                <input type="text" class="form-input" id="email" formControlName="email">
                <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                    <div class="validation" *ngIf="form.get('email')?.hasError('required')">The field cannot be
                        empty!</div>
                    <div class="validation" *ngIf="form.get('email')?.hasError('email')">The email is invalid!</div>
                </div>
            </div>
        </div>
        <button class="form-btn" type="submit" [disabled]="form.invalid">Submit</button>
    </form>

    <ng-template #noVersion>
        <p>Plese, choose framework!</p>
    </ng-template>
</div>