<div class="container">
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-control">
            <label for="name">Name</label>
            <input type="text" class="form-input" id="name" formControlName="firstName">
        </div>
        <div class="form-control">
            <label for="surname">Surname</label>
            <input type="text" class="form-input" id="surname" formControlName="lastName">
        </div>
        <div class="form-control">
            <input matInput [matDatepicker]="pickeryear" placeholder="Choose a date" formControlName="dateOfBirth">
            <mat-datepicker-toggle [for]="pickeryear">
            </mat-datepicker-toggle>
            <mat-datepicker #pickeryear startView="year"></mat-datepicker>
        </div>
        <div class="form-control">
            <select formControlName="framework">
                <option value="null">Choose technology</option>
                <option *ngFor="let technology of technologies" [ngValue]="technology.name">{{technology.name}}</option>
            </select>
        </div>
        <button type="submit" [disabled]="form.invalid">Submit</button>
    </form>
</div>